
<section>
    <h3>About Myself</h3>
    <div class="face-lock-up">
        <div class="face-image"></div>
        
        <div class="icon-pencil"></div>
        <div class="icon-mouse"></div>
        <div class="icon-browser"></div>
        <div class="icon-video"></div>
    </div>
    
    <p> <strong>International man of mystery </strong> Eos te brute eligendi, omittam accumsan praesent nec et. Ut eum vidit utamur appetere, in eros inciderint nam. Mea at soleat volutpat dissentiet, quod tale ignota cu eum, nec simul oblique nonumes an. Eam ei graeci eripuit propriae, sed paulo nullam salutandi ei. Stet cetero intellegat qui no. Pro ei scribentur mediocritatem 
    </p>
    Hope fully it works now whatever rudy says is gospel
    
    Owain is aweasome !!!
    
</section>    